@model JokeJukebox.App.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="JokeJukebox.App.Styles.css"/>

<div class="text-center">
    <h1 class="display-4">Joke Jukebox</h1>
    @using (Html.BeginForm("SaveUserDetails", "Home", FormMethod.Post))
    {
        <h3>Please enter your details:</h3>
        <div class="margin-bottom-base">@Html.LabelFor(m => m.AuthorFirstName)
        @Html.TextBoxFor(m => m.AuthorFirstName)</div>
        <div class="margin-bottom-base">@Html.LabelFor(m => m.AuthorLastName)
        @Html.TextBoxFor(m => m.AuthorLastName)</div>
        <div class="margin-bottom-base">@Html.LabelFor(m => m.AuthorAlias)
        @Html.TextBoxFor(m => m.AuthorAlias)</div>
        <div class="margin-bottom-base">@Html.LabelFor(m => m.ShowAuthorRealName)
        @Html.CheckBoxFor(m => m.ShowAuthorRealName)</div>

        <input type="submit" name="SaveUser" value="Save user details"/>
    }
</div>
